.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  font-family: $title-font-family;
  color: $white;
  border: none;
  background-color: $brand-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 245px;
    min-height: 52px;
  }
}

.button--pale {
  background-color: $gray-light;
  color: $text-color;
}
