.catalog-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: $main-divider #ededed;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -$mobile-external-paddings;
    right: -$mobile-external-paddings;
    bottom: -1px;
    display: block;
    height: 1px;
    background-color: #ededed;

    @media (min-width: $tablet-width) {
      left: -$tablet-external-paddings;
      right: -$tablet-external-paddings;
    }

    @media (min-width: $desktop-width) {
      left: -$desktop-external-paddings;
      right: -$desktop-external-paddings;
    }
  }
}

.catalog-card__desc {
  width: 50%;
  padding-top: 22px;
}

.catalog-card__properties {
  font-size: $small-font-size;
  line-height: 16px;
}

.catalog-card__title {
  width: 75px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: $title3-font-size;
  line-height: 20px;
}

.catalog-card__prop-item {
  display: flex;
  justify-content: space-between;
}

.catalog-card__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
