.category {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
  background-color: $gray-light;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 76px;
    padding-bottom: 56px;
    padding-left: 52px;
    padding-right: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: $desktop-external-paddings;
    margin-right: $desktop-external-paddings;
  }
}

.category--pro {
  @media (min-width: $tablet-width) {
    padding-right: 312px;
    padding-bottom: 57px;
  }
}

.category__title {
  position: relative;
  margin-bottom: 29px;
  padding-left: 71px;
  font-size: $title2-font-size;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: $title1-font-size;
    line-height: 37px;
  }
}

.category__title::before {
  content: "";
  position: absolute;
  left: 2px;
  top: -6px;
  width: 50px;
  height: 50px;
  background-color: $brand-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 394px;
    top: 16px;
    width: 200px;
    height: 200px;
  }
}

.category__title--pro::before {
  @media (min-width: $tablet-width) {
    left: 396px;
    top: 15px;
  }
}

.category__title--slim::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -8px;
  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    left: 423px;
    top: 4px;
    width: 141px;
    height: 194px;
  }
}

.category__title--pro::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 6px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    left: 360px;
    top: 59px;
    width: 268px;
    height: 113px;
  }
}

.category__desc {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  border-bottom: $main-divider #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 57px;
    padding-bottom: 0;
  }
}

.category__link {
  @include title();
  position: relative;
  font-size: $title3-font-size;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.category__link::after {
  content: "";
  position: absolute;
  display: block;
  right: -48px;
  top: 50%;
  width: 25px;
  height: 12px;
  margin-top: -6px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat center;
}
