.contacts {
  position: relative;
}

.contacts--inner-page {
  background-color: $gray-light;
}

.contacts__overlayer {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    width: 570px;
    background-color: #ffffff;
  }
}

.contacts__title {
  width: 123px;
  margin-right: 19px;
  font-size: $title3-font-size;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}

.contacts__map-img {
  display: block;
  width: 320px;
  height: 362px;
  margin: 0 auto;
}
