.features {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$tablet-external-paddings;
    margin-right: -$tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    margin-left: -$desktop-external-paddings;
    margin-right: -$desktop-external-paddings;
  }
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-right: 79px;
    margin-left: $tablet-external-paddings;
    margin-right: $tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: $desktop-external-paddings;
    margin-right: $desktop-external-paddings;
  }
}

.features__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: $brand-color;
}

.features__item--leaf::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/advantage-leaf@1x.png");
}

.features__item--drink::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/advantage-powder@1x.png");
}

.features__item--eat::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/advantage-dining@1x.png");
}

.features__item--clock::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/advantage-clock@1x.png");
}

.features__text {
  margin: 0;
}
