.htmlacademy {
  justify-content: space-between;
}

.htmlacademy__link {
  margin-bottom: 1px;
  margin-right: 22px;
  font-size: 16px;
  line-height: 16px;
  color: $text-color;
}

.htmlacademy__logo {
  margin-top: 6px;
}
