.input-item {
  display: flex;
  align-items: center;
  font-family: $title-font-family;
  font-size: $title3-font-size;
  line-height: 18px;
  text-transform: uppercase;
}

.input-item__label {
  flex-shrink: 0;
  margin-right: 13px;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--cat-name {
    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }

  &--cat-weight {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &--cat-age {
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }

  &--radio {
    margin-right: 0;
  }

  &--owner-email {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 21px;
    }
  }

  &--owner-phone {
    margin-right: 9px;

    @media (min-width: $tablet-width) {
      margin-right: 13px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 14px;
    }
  }
}

.input-item__input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: $text-color;
  border: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--text {
    flex-grow: 1;
    width: 0;
    height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      height: 52px;
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--radio {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 50%;
    border-color: #cdcdcd;
    box-shadow: inset 0 0 0 8px #ffffff;
    background-clip: padding-box;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 19px;
      box-shadow: inset 0 0 0 10px #ffffff;
    }

    .input-item__hidden:checked + & {
      background-color: $brand-color;
    }
  }

  &--email {
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-size: 17px 13px;
    background-image: url("../img/icon-mail.svg");

    @media (min-width: $tablet-width) {
      background-position: center right 19px;
    }
  }

  &--phone {
    background-position: center right 12px;
    background-repeat: no-repeat;
    background-size: 20px 21px;
    background-image: url("../img/icon-phone.svg");

    @media (min-width: $tablet-width) {
      background-position: center right 18px;
    }
  }

  &--checkbox {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-color: #cfcfcf;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }

    .input-item__hidden:checked + & {
      background-size: 21.1px 15.5px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon-tick.svg");
    }
  }

  &--textarea {
    width: 100%;
    height: 150px;
    padding-left: 16px;
    padding-right: 11px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      height: 174px;
    }

    &::-moz-placeholder {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      opacity: 1;
    }
  }
}
