.socials__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: -4px;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;

  &--vk {
    margin-right: 16px;
  }

  &--inst {
    margin-right: 13px;
  }
}

.socials__item:last-child {
  margin-right: 0;
}
