.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  font-family: $title-font-family;
  line-height: 18px;
  color: $white;
  border: none;
  background-color: $brand-color;
  text-transform: uppercase;
}
