.demo {
  padding-top: 33px;
  padding-bottom: 39px;
  background-color: $gray-light;
}

.demo__title {
  margin-bottom: 33px;
  font-size: $title1-font-size;
  line-height: 60px;
}

.demo__desc {
  margin-bottom: 27px;
  line-height: 18px;
}
