.how-it-works {
  @include ext-paddings();
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.how-it-works__title {
  font-size: $title1-font-size;
  line-height: 60px;
  margin-bottom: 35px;
}
