.img-changer__img-wrap {
  margin-bottom: 35px;
}

.img-changer__img2 {
  display: none;
}

.img-changer__control {
  @include title();
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.img-changer__line-outer {
  width: 30%;
  height: 14px;
  margin-left: 19px;
  margin-right: 18px;
  padding: 4px 6px;
  border: $main-divider #cdcdcd;
  border-radius: 6px;
}

.img-changer__line-inner {
  width: 50%;
  height: 100%;
  background-color: $brand-color;
  border-radius: 3px;
}
