.programm-selection-cta {
  @include ext-paddings();
  min-height: 480px;
  margin-bottom: 22px;
  padding-top: 29px;
  padding-bottom: 165px;
  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat top center,
    url("../img/index-can-mobile@1x.png") no-repeat;
  background-color: $brand-color;
  text-align: center;
  color: $white;
}

.programm-selection-cta__title {
  margin-bottom: 19px;
  font-size: $title1-font-size;
  line-height: 36px;
}

.programm-selection-cta__lead {
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programm-selection-cta {
    min-height: 860px;
    color: $title-color;
  }
}

@media (min-width: $desktop-width) {
  .programm-selection-cta {
    min-height: 696px;
  }
}
