.site-menu {
  @include list-reset();
  width: 100%;
}

.site-menu__item {
  justify-content: center;
}

.site-menu__link {
  @include title();
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-menu {
    display: flex;
    width: auto;
  }
}
