//Breakpoints
$mobile-width: 320px;

//Font
$title-font-family: "Oswald", "Arial", sans-serif;
$text-font-family: "Arial", sans-serif;

$text-font-size: 14px;
$small-font-size: 12px;
$title1-font-size: 36px;
$title2-font-size: 24px;
$title3-font-size: 16px;
$text-line-height: 18px;

//Colors
$brand-color: #68b738;

$title-color: #111111;
$text-color: #444444;

$white: #ffffff;
$gray-light: #f2f2f2;

//Sizes
$main-external-paddings: 20px;
$header-row-height: 66px;

//Other
$main-divider: 1px solid;
